<div class="container">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div>
          <!-- Projects table -->
          <table class="table align-items-center table-flush table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Job Name</th>       
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>224455</td>
                  <td>Job Name</td>
                  <td><button class="btn btn-outline-success"><fa-icon [icon]="sync"></fa-icon> Sync</button></td>
                </tr>
                <tr>
                  <td>224456</td>
                  <td>Job Name</td>
                  <td><button class="btn btn-outline-success"><fa-icon [icon]="sync"></fa-icon> Sync</button></td>
                </tr>
                <tr>
                  <td>224457</td>
                  <td>Job Name</td>
                  <td><button class="btn btn-outline-success"><fa-icon [icon]="sync"></fa-icon> Sync</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


    