<table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="table-last-col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Customer Name 1</td>
        <td class="table-last-col">
          <button class="btn btn-none"><fa-icon style="color: red;" [icon]="delete"></fa-icon></button>
        </td>
      </tr> 
      
      <tr>
        <td>Customer Name 2</td>
        <td class="table-last-col">
          <button class="btn btn-none"><fa-icon style="color: red;" [icon]="delete"></fa-icon></button>
        </td>
      </tr> 
    </tbody>  
</table>
