<div class="container mt-2">
    <div class="row justify-content-between">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="table-responsive">
              <table class="table align-items-center table-flush table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Created On</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1 </th>
                    <td>Customer</td>
                    <td>Jan 05,2024 11:12 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Item</td>
                    <td>Jan 05,2024 11:12 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Invoice</td>
                    <td>Jan 05,2024 11:12 PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
    