<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>RealmID</h5></li>
        <li class="list-group-item">9865588555</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Name</h5></li>
        <li class="list-group-item">JMD Texas</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Accounts</h5></li>
        <li class="list-group-item">(484)-444 0903</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Invoice Concent</h5></li>
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Email1</h5></li>
        <li class="list-group-item">example email</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Email2</h5></li>
        <li class="list-group-item">example email</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Office phone</h5></li>
        <li class="list-group-item">444 0903</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Fax</h5></li>
        <li class="list-group-item">444 0903</li>
      </ul>
      <ul class="list-group list-group-horizontal custom-ul">
        <li class="list-group-item"><h5>Address</h5></li>
        <li class="list-group-item">Texas</li>
      </ul>
    </div>
  </div>
</div>