<h3>Invoice Linked With Estimate</h3>
<div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-12 col-auto">
              <ul class="list-group list-group-horizontal custom-ul">
                <li class="list-group-item"><b>Estimate Number</b></li>
                <li class="list-group-item">9865588555</li>
              </ul>
              <ul class="list-group list-group-horizontal custom-ul">
                <li class="list-group-item"><b>Customer Name</b></li>
                <li class="list-group-item">Customer Name</li>
              </ul>
              <ul class="list-group list-group-horizontal custom-ul">
                <li class="list-group-item"><b>Created On</b></li>
                <li class="list-group-item">9865588555</li>
              </ul>
              <ul class="list-group list-group-horizontal custom-ul">
                <li class="list-group-item"><b>Customer Memo</b></li>
                <li class="list-group-item">9865588555</li>
              </ul>
            </div>

            <div class="col-lg-6 col-12 col-auto">
              <button
                class="btn btn-primary"
              >
                Print
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover mt-2">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Description</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Qty on Hand</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Customer Name</td>
                  <td>9776976544</td>
                  <td>customeremail</td>
                  <td>46</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>