 <h3>Order Received</h3>
<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Customer" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><fa-icon [icon]="searchicon"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Select Date</label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-floating mb-3">
      <input
        type="button"
        class="btn btn-primary"
        value="Order Received"
      />
    </div>
  </div>
</div>
