<div class="container">
    <div class="table-responsive">
    <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Tamplate Name</th>
        <th scope="col">Customer</th>
        <th scope="col">Email</th>
        <th scope="col">Event Time</th>
        <th scope="col">Activity</th>
        <th scope="col">IP Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tamplate  Name</td>
        <td>Customer Name</td>
        <td>customeremail</td>
        <td>Event Time</td>
        <td>Activity</td>
        <td>IP Address</td>
      </tr>        
    </tbody>  
  </table>
</div>